@import "tailwindcss";

@theme {
    --color-tartash-green: #4d7d4a;
    --color-tartash-gold: #a7802c;
    --color-tartash-yellow: #f2c12d;
    --color-tartash-cream: #f5e6d3;
    --color-tartash-dark: #2c3e2f;
}
